body{
    background-color: rgb(208, 107, 219);
}

#questionBox{
 background-color: rgb(250, 208, 255);
 width: 50%;
 margin: 0 auto;
 height: 100vh;
 position: relative;
 overflow: hidden; 
}

#mochi{
        width: 250px;
        height: 250px;
        top: 150px;
        left: 50%;
        position: relative;
        transform: translate(-50%, -50%);
        border-style: solid;
        border-radius: 10%;
        border-color: rgb(208, 107, 219);
}

#question{
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Bradley Hand', cursive;
    font-weight: bold;
}

.buttonZone{

    position: relative;
    top: 100px;
    left: 50%;
    height: 400px;
    transform: translate(-50%, -60%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

#yes{
    background-color: rgb(253, 198, 198);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Bradley Hand', cursive;
    font-weight: bold;
    font-size: 20px;
    z-index: 1000;
}

#yes:hover{
    background-color: rgb(208, 107, 219);
    color: rgb(0, 0, 0);
}

#no{
    background-color: rgb(92, 64, 64);
    color: wheat;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Bradley Hand', cursive;
    font-weight: bold;
    font-size: 20px;
}

#jabee{
   border-radius: 10px;
   border-style: solid;
   border-color: rgb(208, 107, 219);
}

.modal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  
  .modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;

    transform: scale(0.5);
    transition: transform 0.2s ease-in-out;
  }

  .modal.open {
    opacity: 1;
    visibility: visible;
  }
  
  .modal.open .modalContent {
    transform: scale(1);
  }

  
  #closeModal {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -357px;
    right: -20px;
  }
  
  #closeModal:hover,
  #closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer
  }
  

@media (max-width: 600px) {
    #questionBox{
        width: 100%;
    }
    .modalContent{
        width: 80%;
    }
    #closeModal{
        top: -372px;
    }
}


    
